<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <title>图表展示</title>
    <!-- 引入 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入 echarts.js -->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts.js"></script>
    <script src="/js/echarts-wordcloud.js"></script>
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/chart.css">
</head>
<body>
<div id="header">
    <span>SpringBoot</span>
</div>
<div id="main">
    <div id="left">
        <ul>
            <li><a href="home">后台主页</a></li>
            <li>图表展示</li>
        </ul>
    </div>
    <div id="right">
        <div class="show" id="jobAmount" style="width: 40%;height: 300px;"></div>
        <script>
            var myChartJobAmount = echarts.init(document.getElementById('jobAmount'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/jobAmount",
                dataType: "json",
                success: function (res) {
                    myChartJobAmount.setOption({
                        title: {
                            text: '职位数量统计',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: res.data.arr,
                            axisLabel: {
                                interval: 0
                            }
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            data: res.data.amount,
                            type: 'bar',
                        }]
                    })
                }
            });
        </script>
        <div class="show" id="jobYear" style="width: 30%;height: 300px;"></div>
        <script>
            var myChartJobYear = echarts.init(document.getElementById('jobYear'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/jobYear",
                dataType: "json",
                success: function (res) {
                    myChartJobYear.setOption({
                        title: {
                            text: '工作年限统计',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        series: [
                            {
                                name: '工作年限',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: res.data.list,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    })
                }
            });
        </script>
        <div class="show" id='jobWelf' style="width: 30%;height: 300px;"></div>
        <script>
            var myChartJobWelf = echarts.init(document.getElementById('jobWelf'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/jobWelf",
                dataType: "json",
                success: function (res) {
                    var data = res.data.split(/[,\. ]+/g)
                        .reduce(function (arr, word) {
                            var obj = arr.find(function (obj) {
                                return obj.name === word;
                            });
                            if (obj) {
                                obj.value += 1;
                            } else {
                                obj = {
                                    name: word,
                                    value: 1
                                };
                                arr.push(obj);
                            }
                            return arr;
                        }, []);
                    console.log(data);
                    myChartJobWelf.setOption({
                        title: {
                            text: '福利词云',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        tooltip: {},
                        series: [ {
                            type: 'wordCloud',
                            gridSize: 2,
                            sizeRange: [12, 50],
                            rotationRange: [-90, 90],
                            shape: 'pentagon',
                            width: 600,
                            height: 400,
                            drawOutOfBound: true,
                            textStyle: {
                                normal: {
                                    color: function () {
                                        return 'rgb(' + [
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160)
                                        ].join(',') + ')';
                                    }
                                },
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowColor: '#333'
                                }
                            },
                            data: data.slice(0, 50)
                        } ]
                    })
                }
            })
        </script>
        <div class="show" id="companyType" style="width: 30%;height: 300px;"></div>
        <script>
            var myChartCompanyType = echarts.init(document.getElementById('companyType'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/companyType",
                dataType: "json",
                success: function (res) {
                    myChartCompanyType.setOption({
                        title: {
                            text: '公司类型统计',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        series: [
                            {
                                name: "公司类型",
                                type: 'pie',
                                radius: '65%',
                                center: ['50%', '50%'],
                                selectedMode: 'single',
                                data: res.data.list,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    })
                }
            });
        </script>
        <div class="show" id="jobSalary" style="width: 50%;height: 300px;"></div>
        <script>
            var myChartJobSalary = echarts.init(document.getElementById('jobSalary'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/jobSalary",
                dataType: "json",
                success: function (res) {
                    myChartJobSalary.setOption(option = {
                        title: {
                            text: '薪资范围统计',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: res.data.arr,
                            axisLabel: {
                                interval: 0
                            }
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            data: res.data.min,
                            type: 'line'
                        },{
                            data: res.data.max,
                            type: 'line'
                        }]
                    })
                }
            });
        </script>
        <div class="show" id="jobEducation" style="width: 20%;height: 300px;"></div>
        <script>
            var myChartJobEducation = echarts.init(document.getElementById('jobEducation'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/jobEducation",
                dataType: "json",
                success: function (res) {
                    myChartJobEducation.setOption({
                        title: {
                            text: '学历统计',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}: {c} ({d}%)'
                        },
                        series: [
                            {
                                name: '学历',
                                type: 'pie',
                                radius: ['50%', '70%'],
                                avoidLabelOverlap: false,
                                label: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    label: {
                                        show: true,
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                },
                                labelLine: {
                                    show: false
                                },
                                data: res.data.list
                            }
                        ]
                    })
                }
            });
        </script>
        <div class="show" id='jobName' style="width: 25%;height: 300px;"></div>
        <script>
            var myChartJobName = echarts.init(document.getElementById('jobName'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/jobName",
                dataType: "json",
                success: function (res) {
                    var data = res.data.split(/[,\. ]+/g)
                        .reduce(function (arr, word) {
                            var obj = arr.find(function (obj) {
                                return obj.name === word;
                            });
                            if (obj) {
                                obj.value += 1;
                            } else {
                                obj = {
                                    name: word,
                                    value: 1
                                };
                                arr.push(obj);
                            }
                            return arr;
                        }, []);
                    console.log(data);
                    myChartJobName.setOption({
                        title: {
                            text: '职位词云',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        tooltip: {},
                        series: [ {
                            type: 'wordCloud',
                            gridSize: 2,
                            sizeRange: [12, 50],
                            rotationRange: [-90, 90],
                            shape: 'pentagon',
                            width: 600,
                            height: 400,
                            drawOutOfBound: true,
                            textStyle: {
                                normal: {
                                    color: function () {
                                        return 'rgb(' + [
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160)
                                        ].join(',') + ')';
                                    }
                                },
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowColor: '#333'
                                }
                            },
                            data: data.slice(0, 50)
                        } ]
                    })
                }
            })
        </script>
        <div class="show" id="jobArea" style="width: 60%;height: 300px;"></div>
        <script>
            var myChartJobArea = echarts.init(document.getElementById('jobArea'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/jobArea",
                dataType: "json",
                success: function (res) {
                    myChartJobArea.setOption({
                        title: {
                            text: '热门城市职位数量',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        color: ['#3398DB'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: res.data.arr,
                                axisTick: {
                                    alignWithLabel: true
                                },
                                axisLabel: {
                                    interval: 0
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '数量',
                                type: 'bar',
                                barWidth: '60%',
                                data: res.data.amount
                            }
                        ]
                    })
                }
            });
        </script>
        <div class="show end" id='companyInd' style="width: 15%;height: 300px;"></div>
        <script>
            var myChartCompanyInd = echarts.init(document.getElementById('companyInd'));
            $.ajax({
                type: "get",
                url: "http://localhost:8080/jobitem/companyInd",
                dataType: "json",
                success: function (res) {
                    var data = res.data.split(/[,\. ]+/g)
                        .reduce(function (arr, word) {
                            var obj = arr.find(function (obj) {
                                return obj.name === word;
                            });
                            if (obj) {
                                obj.value += 1;
                            } else {
                                obj = {
                                    name: word,
                                    value: 1
                                };
                                arr.push(obj);
                            }
                            return arr;
                        }, []);
                    console.log(data);
                    myChartCompanyInd.setOption({
                        title: {
                            text: '行业词云',
                            left: 'center',
                            textStyle: {
                                color: '#333333',
                                fontSize: 16
                            }
                        },
                        tooltip: {},
                        series: [ {
                            type: 'wordCloud',
                            gridSize: 2,
                            sizeRange: [12, 50],
                            rotationRange: [-90, 90],
                            shape: 'pentagon',
                            width: 600,
                            height: 400,
                            drawOutOfBound: true,
                            textStyle: {
                                normal: {
                                    color: function () {
                                        return 'rgb(' + [
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160),
                                            Math.round(Math.random() * 160)
                                        ].join(',') + ')';
                                    }
                                },
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowColor: '#333'
                                }
                            },
                            data: data.slice(0, 50)
                        } ]
                    })
                }
            })
        </script>
    </div>
</div>
</body>
</html>
