<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <title>平台配置</title>
    <!-- 引入 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div id="header">
    <span>SpringBoot</span>
</div>
<div id="main">
    <div id="left">
        <ul>
            <li><a href="home">后台主页</a></li>
            <li>平台配置</li>
        </ul>
    </div>
    <div id="right">
        <p>
            <span class="label label-success">爬虫状态</span>
            <button id="btn" class="btn btn-xs"></button>
        </p>
        <p>
            <span class="label label-info">同步数据</span>
            <button id="sync" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-repeat"></span></button>
        </p>
        <script>
            var btn = $("#btn");
            $.ajax({
                type: "get",
                url: "http://localhost:8080/config/status",
                success: function (res) {
                    if (res.data === "start") {
                        btn.removeClass("btn-default");
                        btn.addClass("btn-danger");
                        btn.text("on");
                    } else {
                        btn.removeClass("btn-danger");
                        btn.addClass("btn-default");
                        btn.text("off");
                    }
                }
            });
            btn.click(function () {
                if ($(this).text() === "on") {
                    $.ajax({
                        type: "get",
                        url: "http://localhost:8080/config/stop",
                        success: function (res) {
                            console.log(res.data);
                        }
                    });
                    $(this).removeClass("btn-danger");
                    $(this).addClass("btn-default");
                    $(this).text("off");
                } else {
                    $.ajax({
                        type: "get",
                        url: "http://localhost:8080/config/start",
                        success: function (res) {
                            console.log(res.data);
                        }
                    });
                    $(this).removeClass("btn-default");
                    $(this).addClass("btn-danger");
                    $(this).text("on");
                }
            });
            var sync = $("#sync");
            sync.click(function () {
                $.ajax({
                    type: "get",
                    url: "http://localhost:8080/config/sync",
                    success: function (res) {
                        alert(res.data);
                    }
                })
            })
        </script>
    </div>
</div>
</body>
</html>
